# Core functionality - changes here should be rare!
/src/app.py                   @BattleAxeNelson22
/src/backend/database.py      @BattleAxeNelson22
/src/backend/routers/auth.py  @BattleAxeNelson22

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BattleAxeNelson22
